<div class="container-fluid">
  <div class="input-section">
    <div class="row p-3">
      <div class="col-md-8">
        <div>
          <input
            type="search"
            id="form1"
            class="form-control"
            name="userName"
            placeholder="enter github username"
            required
            #userName
          />
          <label class="form-label" for="form1"></label>
        </div>
      </div>
      <div class="col-md-4">
        <button
          type="button"
          (click)="onSubmit(userName.value)"
          class="btn btn-primary"
        >
          <i class="fas fa-search">submit</i>
        </button>
      </div>
    </div>

    <div class="card col-8 ml-3" *ngIf="user">
      <div class="d-flex justify-center">
        <img
          class="card-img-top"
          src="{{ user.avatar_url }}"
          alt="profile image"
          class="img-circle"
          style="width: 100px"
        />
      </div>
      <div class="card-body">
        <h4 class="card-title">Name: {{ user.name }}</h4>
        <p class="card-text">Location: {{ user.location }}</p>
        <div class="row">
          <div class="col-6">
            <h6>Followers</h6>
            <p class="ml-5">{{ user.followers }}</p>
          </div>
          <div class="col-6">
            <h6>Following</h6>
            <p class="ml-5">{{ user.following }}</p>
          </div>
          <h6>Public Repos: {{ user.public_repos }}</h6>
        </div>
        <h6>Bio: {{ user.bio }}</h6>
      </div>
    </div>
  </div>
</div>
